@import "variables.scss";
@import "mixins";
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: OpenSans;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.center {
  @include center($widthDesktop);
}

.menu-mob {
  display: none;

  .burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }
  .menu-list {
    top: 0;
    right: 0;
    position: fixed;
    // position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: $colorPage;
    list-style-type: none;
    transform: translateX(100%);
    transition: 0.3s;
    width: 200px;
  }
  .menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  .menu-item:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }
}

.header {
  background-color: #fff;

  &__wrapper {
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ul {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__link {
    font-size: $fontSize;
    color: $colorText;
  }

  &__link:hover {
    border-bottom: 2px solid $colorPage;
    margin-top: 7px;
    color: $colorPage;
  }

  .phone {
    color: $colorPage;
  }

  .phone::before {
    content: url(/image/svg/phone-call.svg);
    margin-right: 10px;
  }
}

.title {
  height: 300px;
  &__img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

.content {
  background-color: #f9f9f9;
  // background-color: #be2323;
  padding-top: 40px;

  &__wrapper {
    display: flex;
    gap: 40px;
  }

  .fd-column {
    display: flex;
    flex-direction: column;

    .div__date {
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      box-sizing: border-box;
    }
  }

  .no-wrap {
    flex-wrap: nowrap;
  }

  .gap {
    gap: 40px;
  }

  .rank {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .fixed {
    // max-width: 320px;
    // box-sizing: border-box;
  }

  .h2 {
    font-size: calc($fontSize + 6px);
    margin-bottom: 30px;
    line-height: 31px;
  }

  .text,
  .date {
    font-size: $fontSize;
    line-height: 23px;
    color: $colorText;
    margin-bottom: 10px;
  }

  .opacity,
  .date {
    opacity: 0.4;
  }

  .news {
    &__elem {
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid rgba($colorText, 0.2);
        margin-bottom: 10px;
      }

      &:hover {
        .text {
          color: $colorPage;
        }
      }
    }
  }
}

.card {
  border-radius: 20px;
  background: rgb(255, 255, 255);
  padding: 40px;
  // box-sizing: border-box;
  cursor: pointer;

  &__sm {
    padding: 30px 40px 30px;
    // margin-bottom: 40px;
  }

  &__vertical {
    width: 320px;
    height: 400px;
    box-sizing: border-box;
    padding: 40px 30px;
  }

  &__img {
    background-image: url("../image/card-img.jpg");
    background-repeat: round;
    opacity: 0.85;
  }

  &__color {
    background-color: $colorPage;
    color: #fff;

    .date {
      color: #fff;
    }
  }

  &:hover {
    border-radius: 20px;
    box-shadow: 4px 8px 40px 0px rgba(8, 24, 111, 0.2);
    // background: rgb(255, 255, 255);
    transform: translate(-1px, -2px);
  }

  &:active {
    transform: translate(1px, 1px);
    box-shadow: none;
  }
}

.category {
  border-radius: 8px;
  background-color: rgba($colorPage, 0.05);
  color: $colorPage;
  padding: 8px 16px;
  font-size: calc($fontSize - 2px);

  &__bg-color {
    background-color: #7d8de4;
    color: #fff;
  }

  &__bg-img {
    background-color: rgba(#fff, 0.2);
    color: #fff;
  }
}

.pagination {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  align-items: center;
  display: flex;
  gap: 20px;

  &__button {
    display: none;
    padding: 13px 60px;
    background-color: $colorPage;
    color: #fff;
    font-size: $fontSize;
    border-radius: 20px;
    border: none;

    &::after {
      content: url("../image/svg/refresh.svg");
      margin-left: 10px;
    }
  }

  &__ul {
    gap: 20px;
    display: flex;
  }

  &__li {
    &:hover {
      color: $colorPage;
    }

    &__active {
      border-bottom: 2px solid $colorPage;
      color: $colorPage;
    }
  }

  &__none {
    display: none;
  }

  &__next,
  &__prev {
    padding: 5px 16px;
    border-radius: 8px;
    background-color: rgba($colorPage, 0.05);
    color: $colorPage;

    &:hover {
      background-color: rgba($colorPage, 0.15);
    }

    &:active {
      background-color: rgba($colorPage, 0.2);
    }
  }

  &__next::after {
    content: url("../image/svg/next.svg");
    fill: $colorPage;
    margin-left: 10px;
  }
  &__prev::before {
    content: url("../image/svg/prev.svg");
    fill: $colorPage;
    margin-right: 10px;
  }

  &__li,
  &__next,
  &__prev {
    cursor: pointer;
    font-size: $fontSize;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 30px 50px;
  border-radius: 20px;
  background: #fff;
  margin-top: 40px;

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__text {
    font-size: calc($fontSize + 6px);
    color: $colorText;
    line-height: 31px;
    text-align: center;
  }

  &__email {
    border-radius: 20px;
    background: #f5f5f5;
    padding: 13px 30px;
    border: none;
    color: rgba($colorPage, 0.4);
    font-size: $fontSize;
  }

  &__button {
    text-align: center;
    border-radius: 20px;
    background: $colorPage;
    color: #fff;
    border: none;
    padding: 13px 68px;
    font-size: $fontSize;

    &::after {
      content: url("../image/svg/button.svg");
    }
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba($colorPage, 0.1);
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__ul {
    display: flex;
    gap: 80px;
  }

  &__link {
    color: $colorText;
    font-size: $fontSize;
  }

  &__clarification {
    margin-top: 22px;
    color: $colorText;
    font-size: calc($fontSize - 4px);
  }
}

@import "media_laptop";
@import "media_mobile";
