@import "variables.scss";
@import "mixins";
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: OpenSans;
}

.center {
  @include center($widthDesktop);
}

.header {
  background-color: #fff;

  &__wrapper {
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ul {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__link {
    font-size: $fontSize;
    color: $colorText;
  }

  &__link:hover {
    border-bottom: 2px solid $colorPage;
    margin-top: 7px;
    color: $colorPage;
  }

  .phone {
    color: $colorPage;
  }

  .phone::before {
    content: url(/image/svg/phone-call.svg);
    margin-right: 10px;
  }
}

.title {
  height: 300px;
  &__img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

.content {
  // background-color: #f9f9f9;
  background-color: #be2323;
  padding-top: 40px;

  &__wrapper {
    display: flex;
    gap: 40px;
  }

  .fd-column {
    display: flex;
    flex-direction: column;
  }

  .no-wrap {
    flex-wrap: nowrap;
  }

  .card {
    border-radius: 20px;
    background: rgb(255, 255, 255);
    padding: 40px;
    box-sizing: border-box;
    cursor: pointer;

    &__sm {
      padding: 30px 40px 30px;
      margin-bottom: 40px;
    }

    &__vertical {
      width: 320px;
      box-sizing: border-box;
    }
  }

  .card:hover {
    border-radius: 20px;
    box-shadow: 4px 8px 40px 0px rgba(8, 24, 111, 0.2);
    background: rgb(255, 255, 255);
    transform: translate(-1px, -2px);
  }

  .card:active {
    transform: translate(1px, 1px);
    box-shadow: none;
  }

  .scroll {
    // max-width: 1040px;
    gap: 40px;
  }

  .rank {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .category {
    border-radius: 8px;
    background: rgb(247, 248, 253);
    color: $colorPage;
    padding: 8px 16px;
  }

  .fixed {
    max-width: 320px;
    box-sizing: border-box;
  }

  .h2 {
    font-size: calc($fontSize + 6px);
    margin-bottom: 30px;
    line-height: 31px;
  }

  .text,
  .date {
    font-size: $fontSize;
    line-height: 23px;
    color: $colorText;
    margin-bottom: 10px;
  }

  .opacity,
  .date {
    opacity: 0.4;
  }

  .news {
    cursor: pointer;
  }

  .news:not(:last-child) {
    border-bottom: 1px solid $colorText;
    margin-bottom: 10px;
  }

  .news:hover {
    .date {
      color: #e5e4e4;
    }
  }
}
