@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: OpenSans;
}

.center {
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
}

.header {
  background-color: #fff;
}
.header__wrapper {
  padding-top: 11px;
  padding-bottom: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__ul {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header__link {
  font-size: 18px;
  color: #2F2222;
}
.header__link:hover {
  border-bottom: 2px solid #5D71DD;
  margin-top: 7px;
  color: #5D71DD;
}
.header .phone {
  color: #5D71DD;
}
.header .phone::before {
  content: url(/image/svg/phone-call.svg);
  margin-right: 10px;
}

.title {
  height: 300px;
}
.title__img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  padding-bottom: 500px;
  background-color: #f9f9f9;
  padding-top: 40px;
}
.content__wrapper {
  display: flex;
  gap: 40px;
}
.content .fd-column {
  display: flex;
  flex-direction: column;
}
.content .fd-column .div__date {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
}
.content .no-wrap {
  flex-wrap: nowrap;
}
.content .card {
  border-radius: 20px;
  background: rgb(255, 255, 255);
  padding: 40px;
  box-sizing: border-box;
  cursor: pointer;
}
.content .card__sm {
  padding: 30px 40px 30px;
}
.content .card__vertical {
  width: 320px;
  box-sizing: border-box;
  padding: 40px 30px;
}
.content .card__img {
  background-image: url("../image/card-img.jpg");
  background-repeat: round;
}
.content .card__color {
  background-color: #5D71DD;
  color: #fff;
}
.content .card__color .date {
  color: #fff;
}
.content .card:hover {
  border-radius: 20px;
  box-shadow: 4px 8px 40px 0px rgba(8, 24, 111, 0.2);
  transform: translate(-1px, -2px);
}
.content .card:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}
.content .scroll {
  gap: 40px;
}
.content .rank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.content .category {
  border-radius: 8px;
  background-color: rgba(93, 113, 221, 0.05);
  color: #5D71DD;
  padding: 8px 16px;
  font-size: 16px;
}
.content .category__bg-color {
  background-color: #7D8DE4;
  color: #fff;
}
.content .category__bg-img {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.content .fixed {
  max-width: 320px;
  box-sizing: border-box;
}
.content .h2 {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 31px;
}
.content .text,
.content .date {
  font-size: 18px;
  line-height: 23px;
  color: #2F2222;
  margin-bottom: 10px;
}
.content .opacity,
.content .date {
  opacity: 0.4;
}
.content .news {
  cursor: pointer;
}
.content .news:not(:last-child) {
  border-bottom: 1px solid #2F2222;
  margin-bottom: 10px;
}
.content .news:hover .text {
  color: #5D71DD;
}/*# sourceMappingURL=style.css.map */